body {
  color: azure;
  background-image: url(http://cdn.wallpapersafari.com/90/64/oLbF7z.jpg);
  background-color: pink;
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
}

h1 {
  position: absolute;
  top: 20%;
  left: 40%;
  margin-top: 50px;
  text-align: center;
  font-size: 4rem;
  font-family: "Special Elite", cursive;
}

h2 {
  position: absolute;
  top: 43%;
  left: 50%;
  margin-top: -50px;
  text-align: center;
  font-family: "Special Elite", cursive;
}

a:link, a:visited {
  color: palevioletred;
}

footer {
  font-family: "Special Elite", cursive;
  width: 100%;
  position: fixed;
  color: azure;
  top: 75%;
  bottom: 0;
}