<style>

body {
      text-align: center;
      font-family:monospace;
      word-spacing:normal;
      letter-spacing: normal;
      width: 150%;
      height: 200px;
       }

/* i have no idea why if i delete the above part the background information goes away*/

h1 {
  font-size: 40px;
  text-align: center;
  color:aquamarine;
  font-family:monospace;
  word-spacing: inherit;
  letter-spacing: normal;
  border: 2px solid white;
}

h1::after {
  content: url(https://cdn.drawception.com/images/panels/2014/10-12/5kfZGMFnym-1.png);
}

img {
  border: 2px solid yellow;
}

a {
  color:hotpink;
}

a:hover {
  background: white;
  font-size: 40px;
}

body {
  background-color:black;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  
}

header {
  color:aquamarine;
  font-family: monospace;
  word-spacing: normal;
  letter-spacing: normal;  
}

h2 {
  color:antiquewhite;
  font-family: monospace;
  border: 2px solid white;
  font-size: 30px;
}

p {
  color:paleturquoise;
  font-family: monospace;
  border: 2px solid white;
  padding: 1rem;
  margin-top: 5em;
  margin-bottom: 5em;  
}

p::first-line {
  color:whitesmoke;
  font-variant:small-caps;
  font-size: 200%;
  font-size-adjust: auto;
}

footer {
  color:azure;
  font-family:monospace;
  font-variant-caps: all-petite-caps;
}

h3 {
  color:deepskyblue;
  font-family: monospace;
}

ul {
  color:mediumpurple;
  font-family: monospace;
}

figcaption {
  color:paleturquoise;
  font-family: monospace;
  border: 1px solid white;
}


</style> 
    
    
   













