<style>

body {
      text-align: center;
      font-family:monospace;
      word-spacing:normal;
      letter-spacing: normal;
       }

/* i have no idea why if i delete the above part the background information goes away*/

h1 {
  font-size: 40px;
  text-align: center;
  color:aquamarine;
  font-family:monospace;
  word-spacing: inherit;
  letter-spacing: normal;
  border: 2px solid white;
}

body {
  background-color:black;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  
}

header {
  color:aquamarine;
  font-family: monospace;
  word-spacing: normal;
  letter-spacing: normal;  
}

h2 {
  color:antiquewhite;
  font-family: monospace;  
}

p {
  color:paleturquoise;
  font-family: monospace;
  border: 2px solid white;
  padding: 1rem;
  margin-top: 5em;
  margin-bottom: 5em;  
}

footer {
  color:azure;
  font-family: monospace;
}

h3 {
  color:deepskyblue;
  font-family: monospace;
}

ul {
  color:mediumpurple;
  font-family: monospace;
}

figcaption {
  color:paleturquoise;
  font-family: monospace;
}


</style> 
    
    
   













